<div class="container">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <h3>Dialog designen:</h3>
          <textarea [(ngModel)]="dialogText" class="form-control" rows="13" (change)="saveDialog()">{{dialogText}}</textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-1" >
        <button class="btn btn-dark" (click)="resetDialog()">Zurücksetzen</button>
      </div>
      <div class="col col-lg-9" > </div>
      <div class="col col-lg-1" >
          <button class="btn btn-dark" (click)="saveDialog()">Speichern & Laden</button>
      </div>
    </div>
    <hr>
    <app-bot-editor name='Dialog'></app-bot-editor>
    <div class="row">
        <div class="col-lg-11">
            <div *ngIf="errorFlag" class="alert alert-warning" role="alert">
              {{errorText}}
            </div>

            <div *ngIf="!errorFlag"class="alert alert-success" role="alert">
              <li *ngFor="let message of messages">
                {{message}}
              </li>
            </div>
          </div>
        <div *ngIf="!dialogButtonOn" class="col col-lg-1" id ="speakButton">
          <button type="button" class="btn btn-outline-success " (click)="start()">Start</button>
        </div>
        <div *ngIf="dialogButtonOn" class="col col-lg-1" id ="stopButton">
          <button type="button" class="btn btn-success"  (click)="stop()">Stop</button>
        </div>
    </div>

  </div>
