<div class="row">
  <div class="col col-lg-5" >
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
              ASR:
            </span>
          </div>
        <select [(ngModel)]="asr"
                class="custom-select"
                (change)="setASR()" >
          <option value="ASRHtml5" selected>Html5</option>
          <option value="ASRNuance">Nuance</option>
        </select>
      </div>
    </div>
    <div class="col" >
      <p i18n="@@ListenEditorInfo"> Hier stehen unterschiedliche ASR-Engines zur Auswahl.</p>
    </div>
</div>
<div class="row">
  <div class="col col-lg-5" >
    <div class="input-group mb-3">
      <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default" i18n="@@ListenEditorLanguage">
              Sprache:
            </span>
      </div>
        <select [(ngModel)]="language"
                class="custom-select"
                (change)="setLanguage()" >
          <option value="de" selected>Deutsch</option>
          <option value="en">English</option>
        </select>
    </div>
  </div>
  <div *ngIf="asr =='ASRNuance'" class="col" >
    <p i18n="@@ListenEditorHint"> <b>Hinweis:</b> Die Auswahl der Sprache hängt bei Verwendung der Nuance ASR von dem hinterlegten Nuance Mix Model ab.</p>
  </div>
</div>
