<div class="row">
    <div class="col">
      <h3 i18n="@@BotEditorHead">{{name}} starten:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col" >
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
                id="inputGroup-sizing-default">
            Dialog:
          </span>
        </div>
        <input [(ngModel)]="dialogName"
                type="text"
                class="form-control"
                placeholder="{{dialogName}}"
                (change)="setDialogName()"/>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col" >
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
                id="inputGroup-sizing-default">
            State:
          </span>
        </div>
        <select [(ngModel)]="stateName"
                class="custom-select"
                id="formatPicker"
                (change)="setStateName()" >
          <option value="home" selected>home</option>
          <option value="demo">demo</option>
          <option value="demo-en">demo en</option>
          <option value="homebutton" selected>homebutton</option>
        </select>
        </div>
      </div>
    </div>

