<div class="container">
  <app-bot-editor name='Bot'></app-bot-editor>

  <div class="row">
    <div class="col col-lg-4">
        <h4>Stimme ändern:</h4>
      </div>
      <div class="col col-lg-2">
        <label class="switch">
          <input type="checkbox"
                 [(ngModel)]="voiceButtonOn"
                 (change)="toggleVoice()">
          <span class="slider round"></span>
        </label>
      </div>
    <div class="col col-lg-1" >
          <!-- <p>{{voiceButtonOn}}</p> -->
        </div>
  </div>
  <div *ngIf="voiceButtonOn">
    <app-voice-editor></app-voice-editor>
  </div>


  <app-speak-editor [disableAudioFileName]=true (audioOn)="onAudioOn($event)"></app-speak-editor>

  <hr>

  <div class="row">
      <div class="col">
        <app-show-button appAnimate="show"></app-show-button>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-lg-11">
          <div *ngIf="errorFlag" class="alert alert-warning" role="alert">
            {{errorText}}
          </div>

          <div *ngIf="!errorFlag"class="alert alert-success" role="alert">
            <li *ngFor="let message of messages">
              {{message}}
            </li>
          </div>

        </div>

      <div *ngIf="!dialogButtonOn" class="col col-lg-1" id ="speakButton">
        <button type="button" class="btn btn-outline-success " (click)="start()">Start</button>
      </div>
      <div *ngIf="dialogButtonOn" class="col col-lg-1" id ="stopButton">
        <button type="button" class="btn btn-success"  (click)="stop()">Stop</button>
      </div>
  </div>
</div>

