<div class="container">
  <br>
  <div class="row">
    <div class="col">
        <h3>Sprachausgabe</h3>
        <p>Gebt einen beliebigen Text ein und lasst ihn von einer Sprachsynthese ausgeben oder verwendet Audiodateien.</p>
        <div *ngIf="!audioOn">
          <textarea [(ngModel)]="text" class="form-control" rows="15">{{text}}</textarea>
          <br>
          <app-voice-editor></app-voice-editor>
        </div>
    </div>
  </div>

  <br>
  <app-speak-editor (audioOn)="onAudioOn($event)" ></app-speak-editor>
  <hr>
  <div class="row">
      <div class="col-lg-11">
        <div *ngIf="errorFlag" class="alert alert-warning" role="alert">
          {{errorText}}
        </div>

        <div *ngIf="!errorFlag"class="alert alert-success" role="alert">
          <li *ngFor="let message of messages">
            {{message}}
          </li>
        </div>

      </div>

      <div *ngIf="!speakButtonOn" class="col col-lg-1">
        <button type="button" class="btn btn-outline-success" (click)="start()">Start</button>
      </div>
      <div *ngIf="speakButtonOn" class="col col-lg-1">
          <button type="button" class="btn btn-success"  (click)="stop()">Stop</button>
      </div>

  </div>


  </div>
