<!-- <div class="container">

<div class="starter-template">
  <h1>Wollt Ihr Sprache?</h1>
  <p class="lead">Diese App soll euch einen Eindruck geben,<br> wie der Speech Service ganz einfach in eure Webapp integriert werden kann. </p>
</div>
</div> -->

<app-navbar activeName="info"></app-navbar>
<div class="container">
    <main role="main">
        <!-- Jumbotron -->
        <div class="starter-template">
            <h1>Eine Website oder Web-App erweitert um Sprachdienste</h1>
            <p class="lead">Dieses Beispiel nutzt Speech-Angular,  <br>
                            um eine Website oder Web-App um ein Voice User Infaces (VUI) zu erweitern. </p>
            <p><a href="" > </a></p>
            <br>

            <!--  <div class="form-group row">
                <label for="lgFormGroupInput" class="col-lg-3 col-form-label col-form-label-lg"></label>
                <input type="text" class="col-lg-5 form-control"  placeholder=" Bitte tragen Sie hier ihre Mail-Addresse ein ..." [(ngModel)]="mail" name="mail" />
                <div class="input-group-btn">
                    <button type="button" class="col-lg-auto btn btn-outline-success " >Mehr Infos</button>
                </div>
            </div> -->
        </div>


        <div class="row">
            <div class="col-lg-12">
                <h2>Features:</h2>
                <hr>
            </div>
        </div>


        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-3">
                <h3>Cloud</h3>
                <p>In Cloud werden die Credentials des jeweiligen Cloud-Dienstes eingetragen, um den Cloud-Dienst verwenden zu können.</p>
                <!-- <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-lg-3">
                <h3>Speak</h3>
                <p> In Speak wird Sprachausgabe mittels Sprachsynthese und durch Verwendung von Audiodateien vorgestellt. </p>
                <!-- <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-lg-3">
                <h2>Action</h2>
                <p>In Action wird gezeigt, wie man die Funktionalität der App nutzen und steuern kann.</p>
                <!-- <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-lg-3">
                <h2>Bot</h2>
                <p>Im Bot können Dialoge designt und ausführt werden, so lassen sich eigene VUI Szenarien entwickeln.</p>
                <!-- <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-lg-3">
                <h2>Listen</h2>
                <p>In Listen wird Spracherkennung mittels der Web Speech API vorgestellt. Spracheingaben können lokal gespeichert werden.</p>
                <!-- <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-lg-3">
                <h2>Intent</h2>
                <p>In Intent wird die Sprachanalyse vorgestellt.</p>
                <!-- <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
    
        </div>
    </main>
</div>
