<div class="container">

<div class="row">
    <div class="col col-lg-8">
        <h4 i18n="@@VoiceEditorHead">Stimme ändern:</h4>
      </div>
      <div class="col col-lg-2">
        <label class="switch">
          <input type="checkbox"
                  [(ngModel)]="voiceButtonOn"
                  (change)="toggleVoice()">
          <span class="slider round"></span>
        </label>
    </div>
  </div>
<div *ngIf="voiceButtonOn">
  <div class="row">
    <div class="col col-lg-10" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                TTS:
              </span>
            </div>
          <select [(ngModel)]="tts"
                  class="custom-select"
                  (change)="setTTS()" >
            <option value="TTSHtml5" selected>Html5</option>
            <option value="TTSNuance">Nuance</option>
            <option value="TTSAmazon">Amazon</option>
            <option value="TTSMicrosoft">Microsoft</option>
          </select>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col col-lg-10" >
      <div class="input-group mb-3">
        <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default" i18n="@@VoiceEditorLanguage">
                Sprache:
              </span>
        </div>
          <select [(ngModel)]="language"
                  class="custom-select"
                  (change)="setLanguage()" >
            <option value="de" selected>Deutsch</option>
            <option value="en">English</option>
          </select>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col col-lg-10" >
        <div class="input-group mb-3">
          <div class="input-group-prepend">
                <span class="input-group-text"
                      id="inputGroup-sizing-default" i18n="@@VoiceEditorVoice">
                  Stimme:
                </span>
          </div>
            <select [(ngModel)]="voice"
                    class="custom-select"
                    (change)="setVoice()" >
              <option *ngFor="let voice of voiceList" [value]="voice">{{voice}}</option>
            </select>
      </div>
    </div>
  </div>
</div>

