<div class="row">
  <div class="col col-lg-4">
      <h4>Audiodateien verwenden:</h4>
    </div>
  <div class="col col-lg-2" >
      <label class="switch">
        <input type="checkbox"
               [(ngModel)]="audioButtonOn"
               (change)="toggleAudio()">
        <span class="slider round"></span>
        <!-- <span class="slider"></span> -->
      </label>
    </div>
  <div class="col col-lg-1" >
        <!-- <p>{{audioButtonOn}}</p> -->
      </div>
</div>


<div *ngIf="audioButtonOn">
  <div class="row">
    <div class="col col-lg-5" >
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
              Pfad:
            </span>
          </div>
          <input [(ngModel)]="audioFilePath"
                  type="text"
                  class="form-control"
                  placeholder="{{audioFilePath}}"
                  (change)="setAudioFilePath()"/>
        </div>
    </div>
  </div>

  <div class="row" *ngIf="!disableAudioFileName">
    <div class="col col-lg-5" >
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
                  Name:
            </span>
          </div>
          <input [(ngModel)]="audioFileName"
                  type="text"
                  class="form-control"
                  required
                  placeholder="{{audioFileName}}"/>
        </div>
    </div>
  </div>

  <div class="row" *ngIf="disableAudioFileName">
    <!-- <div class="col col-lg-3" ></div>
    <div class="col col-lg-5" >
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
                  Name: hier kommt ein text rein 1,3,5
            </span>
          </div>

        </div>
    </div> -->
  </div>

  <div class="row">
  <div class="col col-lg-5" >
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
                id="inputGroup-sizing-default">
            Format:
          </span>
        </div>
      <select [(ngModel)]="audioFileFormat"
              class="custom-select"
              id="formatPicker"
              (change)="setAudioFormat()" >
        <option value="mp3" selected>mp3</option>mp3
        <option value="wav">wav</option>
      </select>
    </div>
  </div>
  </div>
</div>
