/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}
#body {
  /* Margin bottom by footer height */
  /* margin-bottom: 60px; */
  min-height: 100%;

}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;

}
