<app-navbar activeName="intent"></app-navbar>
<div class="container">
  <br>
  <div class="row">
    <div class="col">
        <h3 i18n="@@IntentHead">Sprachanalyse </h3>
       <p i18n="@@IntentInfo"> Der Senden Button schickt die Texteingabe an  die Sprachanalyse.
       </p>
    </div>

  </div>
  <hr>
  <!-- <div class="row">
    <div class="col">
      <p i18n="@@IntentLanguageModel">Zunächst muss die Sprache des hinterlegten Sprachanalysemodells gewählt werden. </p>
    </div>
  </div> -->
  <app-intent-editor></app-intent-editor>
  <br>
  <div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">
                <form>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" [(ngModel)]="intentText" name="intent" i18n-placeholder="@@IntentInputplaceholder" placeholder="Hier Text eingeben ..."/>
                    </div>
                </form>
            </li>
        </ul>
    </div>
  </div>
  <hr>
  <div *ngIf="intentFlagOn">
      <div class="row">
          <div class="col col-lg-5" >
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                          id="inputGroup-sizing-default">
                      Literal:
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="{{intent.literal}}"/>
              </div>
            </div>
            <div class="col col-lg-2" ></div>
            <div class="col col-lg-5" *ngIf="conceptFlag">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                            id="inputGroup-sizing-default">
                        Literal:
                      </span>
                    </div>
                    <select class="custom-select" (change)="setConcept($event.target.value)">
                        <option *ngFor="let c of conceptList"> {{c.literal}} </option>
                      </select>
                </div>
              </div>
        </div>
        <div class="row">
            <div class="col col-lg-5" >
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                            id="inputGroup-sizing-default">
                        Intent:
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="{{intent.intent}}"/>
                </div>
              </div>
              <div class="col col-lg-2" ></div>
              <div class="col col-lg-5" *ngIf="conceptFlag">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                              id="inputGroup-sizing-default">
                          Concept:
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="{{concept.concept}}"/>
                  </div>
                </div>
          </div>
        <div class="row">
          <div class="col col-lg-5" >
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                    <span class="input-group-text"
                          id="inputGroup-sizing-default">
                      Confidence:
                    </span>
              </div>
              <input type="text" class="form-control" placeholder="{{intent.confidence}}"/>
            </div>
          </div>
          <div class="col col-lg-2" ></div>
          <div class="col col-lg-5" *ngIf="conceptFlag">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                          id="inputGroup-sizing-default">
                      Value:
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="{{concept.value}}"/>
              </div>
            </div>
        </div>
        <hr>
  </div>
  <br>
  <div class="row">
    <div class="col">
        <div *ngIf="errorFlag" class="alert alert-warning" role="alert">
          {{errorText}}
        </div>
        <div *ngIf="!errorFlag"class="alert alert-success" role="alert">
            <li *ngFor="let message of messages">
                {{message}}
              </li>
        </div>
    </div>

    <div class="col col-lg-1">
      <button type="button" class="btn btn-outline-success" (click)="start()" i18n="@@IntentSend">Senden</button>
    </div>
  </div>
  <hr>

</div>
