<app-navbar activeName="cloud"></app-navbar>
<div class="container">
  <br>
  <div class="row">
        <h3>Google Dialogflow</h3>
        <p i18n="@@GoogleInfo">
          Der Cloud-Dienst Google Dialogflow von Google Cloud ist ein Assistent-Service, der mit
          Hilfe Deep Learning-Technologien Sprache versteht und zu Sätzen die passenden Intents zurückgibt.
          Er erweitert Intentservice um eine zusätzliche NLU, die zur Sprachanalyse genutzt werden kann.
          Die Nutzung des Cloud-Serices setzt einen Dialogflow Account voraus.
        </p>
        <a target="_blank" href="https://dialogflow.com/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" i18n="@@GoogleButton">zur Dialogflow-Seite</a>
  </div>
  <br>
  <div class="row">
        <p i18n="@@GoogleInfo2">
          Die Google Cloud bietet darüber hinaus Dienste für Spracherkennung und Sprachsynthese an.
          Die Cloud Speech-to-Text API erweitert den Listenservice um eine ASR. Die Cloud Text-to-Speech API erweitert den Speakservice um eine TTS mit weiteren Stimmen.
          Die Aktivierung der APIs sowie die Verwaltung der Zugriffsrechte kann in der Google Cloud Konsole vorgenommen werden.
        </p>
        <a target="_blank" href="https://console.cloud.google.com/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" i18n="@@GoogleButton2">zur Konsole</a>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col col-lg-10">
      <h4 i18n="@@GoogleCredentialsHead">Credentials setzen:</h4>
      <p i18n="@@GoogleCredentialsInfo"> Zur Nutzung der Cloud Dienste wird ein client access token benötigt.
        Der Token wird serverseitig oder via FaaS erzeugt. Ein Beispiel für einen Server bildet der <a href="https://github.com/lingualogic/speech-tokenserver">Speech-Tokenserver</a>.
        Die URL für des Servers wird abhängig von der Nutzung für Dialogflow oder ASR und TTS gesetzt.
        Für Dialogflow wird darüberhinaus die Project ID angegeben. Eine Verbindung zu Dialogflow kann auch über den App Key hergestellt werden. (deprecated)
        Der App Key kann in den Setting des Dialogflow Assistenten im Tab General unter API Keys eingesehen werden.

        Die jeweilig benötigten Werte müssen unten eingetragen werden.
      </p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="col col-lg-10" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                    Google Server URL:
              </span>
            </div>
            <input [(ngModel)]="googleServerUrl"
                   [ngModelOptions]="{standalone: true}"
                    type="text"
                    class="form-control"
                    required
                    placeholder="{{googleServerUrl}}"/>
          </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col col-lg-10" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                    Dialogflow Tokenserver URL:
              </span>
            </div>
            <input [(ngModel)]="dialogflowTokenServerUrl"
                   [ngModelOptions]="{standalone: true}"
                    type="text"
                    class="form-control"
                    required
                    placeholder="{{dialogflowTokenServerUrl}}"/>
          </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col col-lg-10" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                    Dialogflow Project-ID:
              </span>
            </div>
            <input [(ngModel)]="dialogflowProjectId"
                   [ngModelOptions]="{standalone: true}"
                    type="text"
                    class="form-control"
                    required
                    placeholder="{{dialogflowProjectId}}"/>
          </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col col-lg-10" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                    App Key:
              </span>
            </div>
            <input [(ngModel)]="appKey"
                   [ngModelOptions]="{standalone: true}"
                    type="text"
                    class="form-control"
                    required
                    placeholder="{{appKey}}"/>
          </div>
      </div>
    </div>
    <div class="form-row">
        <div class="col col-lg-9">
        </div>
        <div class="col col-lg-1">
            <button type="submit" class="btn btn-success" i18n="@@GoogleCredentialsButton">Speichern</button>
        </div>
    </div>
  </form>
</div>
