<app-navbar activeName="cloud"></app-navbar>
<div class="container">
  <br>
  <div class="row">
    <div class="col">
        <h3>Nuance Mix</h3>
        <p>Die Nuance Communications ist einer der führenden Anbieter von Sprachlösungen weltweit.
           Nuance Mix ist ihr Cloud-Service.
           Neben weiteren Stimmen die zur Sprachausgabe genutzt werden können,
           wird eine weitere Engine zur Spracherkennung zur Verfügung gestellt.
           Speech-Angular/-Framework integiert die Engine nahtlos in Web-Applikationen, was Spracherkennung auf nahezu allen Plattformen und Browsern ermöglicht.
           Kernstück von Nuance Mix ist eine NLU, die in der Intent-Komponete zur Realisierung von Sprachverstehen eingesetzt werden kann.
           Die Nutzung des Cloud-Serices setzt eine Registierung voraus, die unter developer.nuance.com möglich ist.
        </p>
        <a target="_blank" href="https://developer.nuance.com/public/index.php?task=home" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">zur Nuance-Seite</a>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col col-lg-8">
      <h4>Credentials setzen:</h4>
      <p> Zur Nutzung der Nuance-Dienste in diesem Beispiel werden Credentials benötigt.
          Diese können auf developer.nuance.com im Dashboard im Reiter PUBLISH eingesehen und in dem Formular unten eingegeben werden.
          Die Daten werden local im Browser gesetzt und ausschließlich an Nuance übermittelt.
      </p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="col col-lg-10" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                    APP ID:
              </span>
            </div>
            <input [(ngModel)]="appId"
                   [ngModelOptions]="{standalone: true}"
                    type="text"
                    class="form-control"
                    required
                    placeholder="{{appId}}"/>
          </div>
      </div>
    </div>
      <div class="form-row">
        <div class="col col-lg-10" >
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                      id="inputGroup-sizing-default">
                      APP KEY:
                </span>
              </div>
              <input [(ngModel)]="appKey"
                     [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      required
                      placeholder="{{appKey}}"/>
            </div>
        </div>
    </div>
      <div class="form-row">
        <div class="col col-lg-10" >
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                      id="inputGroup-sizing-default">
                      NLU TAG:
                </span>
              </div>
              <input [(ngModel)]="nluTag"
                     [ngModelOptions]="{standalone: true}"
                      type="text"
                      class="form-control"
                      required
                      placeholder="{{nluTag}}"/>
            </div>
        </div>
      </div>
    <div class="form-row">
        <div class="col col-lg-9">
        </div>
        <div class="col col-lg-1">
            <button type="submit" class="btn btn-success">Speichern</button>
        </div>
    </div>
  </form>
</div>
