<div class="row">
  <div class="col col-lg-5" >
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
              Literal:
            </span>
          </div>
          <input type="text" class="form-control" placeholder="{{intent.literal}}"/>
      </div>
    </div>
    <div class="col col-lg-2" ></div>
    <div class="col col-lg-5" *ngIf="conceptFlag">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                Value:
              </span>
            </div>
            <select class="custom-select" (change)="setConcept($event.target.value)">
                <option *ngFor="let c of conceptList"> {{c.value}} </option>
              </select>
        </div>
      </div>
</div>
<div class="row">
    <div class="col col-lg-5" >
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                    id="inputGroup-sizing-default">
                Intent:
              </span>
            </div>
            <input type="text" class="form-control" placeholder="{{intent.intent}}"/>
        </div>
      </div>
      <div class="col col-lg-2" ></div>
      <div class="col col-lg-5" *ngIf="conceptFlag">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                      id="inputGroup-sizing-default">
                  Entity:
                </span>
              </div>
              <input type="text" class="form-control" placeholder="{{concept.concept}}"/>
          </div>
        </div>
  </div>
<div class="row">
  <div class="col col-lg-5" >
    <div class="input-group mb-3">
      <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
              Score:
            </span>
      </div>
      <input type="text" class="form-control" placeholder="{{intent.confidence}}"/>
    </div>
  </div>
  <div class="col col-lg-2" ></div>
  <div class="col col-lg-5" *ngIf="conceptFlag">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"
              id="inputGroup-sizing-default">
              Score:
        </span>
      </div>
      <input type="text" class="form-control" placeholder="{{concept.confidence}}"/>
  </div>
</div>



