<div class="row">
  <div class="col col-lg-5" >
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default">
              NLU:
            </span>
          </div>
        <select [(ngModel)]="nlu"
                class="custom-select"
                (change)="setNLU()" >
          <option value="NLUNuance" selected>Nuance</option>
          <option value="NLUGoogle">Google</option>
          <option value="NLURasa">Rasa</option>
        </select>
      </div>
    </div>
</div>
<div class="row">
  <div class="col col-lg-5" >
    <div class="input-group mb-3">
      <div class="input-group-prepend">
            <span class="input-group-text"
                  id="inputGroup-sizing-default" i18n="@@IntentEditorLanguage">
              Sprache:
            </span>
      </div>
        <select [(ngModel)]="language"
                class="custom-select"
                (change)="setLanguage()" >
          <option value="de" selected>Deutsch</option>
          <option value="en">English</option>
        </select>
    </div>
  </div>
  <div *ngIf="nlu =='NLUNuance'" class="col" >
    <p i18n="@@IntentEditorHint"> <b>Hinweis:</b> Die Auswahl der Sprache hängt von dem hinterlegten Nuance Mix Model ab.</p>
  </div>
</div>
